.table-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  max-width: 1000px;
  /* min-height: 64px;
  padding: 8px 24px 0; */
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}
