/* .table-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  max-width: 1000px;
} */

.table-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-row:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.mat-header-cell, .mat-cell {
  margin-right: 20px;
}

/* Page loads with only data display values, hide form inputs */
[class^="form"] {
  visibility: hidden;
}

/* Need to make the elements for display and input overlap */
div[class^="cell"] {
    position: absolute;
    margin-top: 20px;
}
