<!-- If TCP or HTTPS is selected, disables request or port -->
<!-- This could/should be 3 separate component options -->
<!-- Checks if the row is selected and there are dropdown options available-->

<!-- Row not selected and no color options-->
<div *ngIf="!selected && options.colors.length == 0">
  {{connection[column]}}
</div>

<!-- Row not selected, color options -->
<div *ngIf="!selected && options.colors.length > 0" [style.color]="getColor(connection[column], options)">
  {{connection[column]}}
</div>

<!-- Not disabled field -->
<div *ngIf="!((connectionForm.value.method == 'TCP' && column == 'request') || (connectionForm.value.method == 'HTTPS' && column == 'port'))">

  <!-- Form fields -->
  <mat-form-field *ngIf="selected" [formGroup]="connectionForm">
    <!-- Input text field -->
    <input matInput *ngIf="options.selections.length == 0 && column != 'save'"
      type="text" class="form-control" [formControlName]="column">

    <!-- Selection dropdown -->
    <mat-select *ngIf="options.selections.length > 0 && options.colors.length == 0"
      class="form-control" [formControlName]="column">
      <mat-option *ngFor="let option of options.selections" [value]="option">{{option}}</mat-option>
    </mat-select>

    <!-- Selection dropdown with colors -->
    <mat-select *ngIf="options.selections.length > 0 && options.colors.length > 0"
      class="form-control" [formControlName]="column">
      <mat-option *ngFor="let option of options.selections; let i = index" [style.color]="getColor(option, options)" [value]="option">{{option}}</mat-option>
    </mat-select>
    
    <!-- Error handling for required here -->
    <mat-error *ngIf="connectionForm.status">This field is required</mat-error>
  </mat-form-field>
</div>
