.mat-toolbar {
  background-color: #00b588;
  color: white;
  height: 128px;
  padding: 80px 32px 32px 128px;
  font-size: 24px;
  min-width: 828px;
}

.mat-fab {
  background-color: #0e2134;
  position: absolute;
  top: 100px;
  left: 32px;
}

.table-card {
  margin: 0px 128px 0px 128px;
  padding: 0px;
  min-width: 700px;
}
